
<% var id = widget.generateId() %>

<div id="<%- id %>" class="widget test-widget">
  <div class="widget-body">
    <h3><%- widget.id %></h3>
    <div class="text-center">
      <img src="/dashboard/develop-and-test/widgets/image/sample.jpg" class="thumbnail img-responsive">
    </div>
  </div>
</div>
