<% layout('../layout') -%>

<% script('https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=release&coordorder=longlat') -%>
<% script(module + '/js/map/map.js') -%>
<% script(module + '/js/map/nav.js') -%>
<% script(module + '/js/map/layer.js') -%>
<% script(module + '/js/map/layer-handler.js') -%>
<% script(module + '/js/map/legend.js') -%>
<% script(module + '/js/map/region.js') -%>
<% script(module + '/js/map/viewers/viewer.js') -%>
<% script(module + '/js/map/viewers/right-info.js') -%>
<% script(module + '/js/map/filters/base-filter.js') -%>
<% script(module + '/js/map/filters/stroke-filter.js') -%>
<% script(module + '/js/map/filters/region-filter.js') -%>
<% script(module + '/js/map/filters/search-filter.js') -%>
<% script(module + '/js/map/filters/nav-filter.js') -%>
<% script(module + '/js/map/filters/form.js') -%>
<% script(module + '/js/map/filters/group.js') -%>
<% script(module + '/js/map/filters/field.js') -%>
<% script(module + '/js/map/filters/fields/select.js') -%>
<% script(module + '/js/map/custom-object-manager.js') -%>
<% script(module + '/js/map/init.js') -%>

<%
  var zoneParams = {
    module
  };
%>

<section id="middle" class="map-zone" data-params="<%=JSON.stringify(zoneParams)%>">
  <header id="page-header">
    <h1><%= title %></h1>
  </header>

  <div class="fa fa-refresh fa-spin ymap-loader"></div>
  <div id="ymap" class="ymap" data-params="<%=JSON.stringify(map)%>"></div>

  <div class="map-footer">
    <div class="map-legend" style="display: none">
      <div class="map-legend-toggle" title="Show/hide legend">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </div>
      <div class="map-legend-content">
        <div class="map-legend-title">Notation keys</div>
        <div class="map-legend-list"></div>
      </div>
    </div>
  </div>

  <div class="map-search-filter empty">
    <div class="map-search-filter-controls">
      <input type="text" class="map-search-filter-value" placeholder="Seach...">
      <button type="button" title="Search" class="map-search-filter-execute ymaps-2-1-47-button ymaps-2-1-47-button_size_s ymaps-2-1-47-button_theme_normal ymaps-2-1-47-button_icon_only">
        <span class="ymaps-2-1-47-button__text">
          <span class="ymaps-2-1-47-button__icon" style="background-image: url('/geomap/img/search.png');"></span>
        </span>
      </button>
      <button type="button" title="Clear the search" class="map-search-filter-reset ymaps-2-1-47-button ymaps-2-1-47-button_size_s ymaps-2-1-47-button_theme_normal ymaps-2-1-47-button_icon_only">
        <span class="ymaps-2-1-47-button__text">
          <span class="ymaps-2-1-47-button__icon" style="background-image: url('/geomap/img/close.png');"></span>
        </span>
      </button>
    </div>
    <div class="map-search-filter-result">
      <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
      <div class="map-search-filter-not-found">
        <i>No matches were found...</i>
      </div>
      <div class="map-search-filter-list"></div>
    </div>
  </div>

  <div class="map-loader">
    <div class="map-loader-content">
      <span class="fa fa-refresh fa-spin"></span>
      <span class="map-loader-title">Data loading...</span>
    </div>
  </div>

  <div id="map-stroke" class="map-stroke">
    <canvas id="map-stroke-area"></canvas>
  </div>

</section>

<div id="map-info-panel" class="map-info-panel">
  <div class="map-menu-panel-head">
    <i class="glyphicon glyphicon-menu-right close"></i>
  </div>
  <div class="loadable-container" data-url="/reestr">
    <div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
    <div class="map-menu-panel-body loadable-content"></div>
  </div>
</div>

<div id="map-filter-form" class="map-filter-form modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
