html {
  background-color: transparent;
}
#header .module-switcher {
  margin: 10px 0 0 12px;
}
#header .module-switcher .dropdown-toggle {
  height: 30px;
  font-size: 21px;
  background: transparent;
  font-family: 'Glyphicons Halflings';
}
#header .module-switcher .dropdown-toggle:hover {
  color: #ffffff;
}
#header .module-switcher .dropdown-toggle:before {
  content: "\e236";
}
#header .module-switcher.open .dropdown-toggle {
  color: #ffffff;
}
#aside .collapse-button {
  width: 45px;
  height: 18px;
  font-size: 11px;
  margin-top: 12px;
}
#aside .collapse-button .glyphicon {
  width: 6px;
}
#aside .collapse-button .glyphicon::before {
  content: "\e257";
}
#aside .collapse-button:hover {
  color: #ffffff;
}
#aside .aside-splitter {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #444;
  cursor: col-resize;
}
#sideNav .menu-group .menu-group-title {
  margin: 5px 0 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#sideNav .nav-list .treeview > a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#sideNav .nav-list > .treeview:hover > a {
  overflow: visible;
}
#sideNav .nav-list > .treeview:hover > a > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
body.min #aside .collapse-button .glyphicon::before {
  content: "\e258";
}
body.min #aside #sideNav .menu-group .menu-group-title {
  display: none;
}
body.min #middle {
  margin-left: 0;
}
.imodal-frame {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2001;
  background: rgba(0, 0, 0, 0.3) url(../img/loader-64.gif) no-repeat center;
}
.imodal-frame.active {
  display: block;
}
.imodal-frame.active.loaded {
  background-image: none;
}
.imodal,
.imodal.imodal-blank {
  background: transparent;
}
.imodal-box {
  width: 99%;
  min-height: 90%;
  max-width: 1140px;
  margin: 20px auto 20px auto;
  background: #fff;
}
.imodal-box .imodal-box-header {
  border-bottom: 2px solid #d2d6de;
}
.imodal-box .imodal-close {
  position: relative;
  top: 12px;
  right: 10px;
  font-size: 28px;
}
.imodal-box .imodal-box-title {
  font-size: 21px;
  margin: 0 20px;
  padding: 10px 0 10px 0;
  color: #48a;
}
.imodal-box .imodal-box-body {
  padding: 10px;
}
.imodal-box .imodal-box-body > .box {
  border: 0;
}
.imodal-box .imodal-box-body > .alert {
  margin: 5px 10px 10px 10px;
}
/*** FORM ***/
.form-control-static {
  margin: 0;
}
.form-control .form-datepicker {
  padding: 6px 12px;
}
.form-control .form-datepicker[readonly],
.form-control .form-datetimepicker[readonly] {
  background: #fff;
  cursor: default;
}
.form-group .table thead th {
  color: #888;
}
.form-group .panel {
  border-width: 1px 0;
  border-radius: 0;
  margin-bottom: 0;
}
.form-group .panel-body {
  padding: 10px 0 0 0;
  margin-bottom: -10px;
}
.form-group .error-block {
  display: none;
  margin: 5px 0 0 0;
  color: #c00;
}
.form-group .form-group-label {
  display: none;
}
.form-group.has-error .error-block {
  display: block;
}
.form-group.has-error .wysihtml5-sandbox {
  border-color: #c00 !important;
}
.form-group.has-error .form-static-value .form-control {
  border-bottom-color: #a94442;
}
.form-group.required .control-label:after {
  content: "*";
  margin-left: 3px;
  color: #f00;
}
.form-group + .form-struct {
  margin-top: 30px;
}
.form-group button.file-dialog {
  color: white;
  background-color: #48a;
  border-color: #59b;
}
.form-group a.file-link {
  margin-right: 15px;
}
.form-control-box {
  position: relative;
}
.form-control-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 49;
}
.form-control-box .overlay .fa {
  margin-top: -10px;
  font-size: 18px;
}
.form-horizontal .ui-tabs {
  margin: 0 0 0 0;
}
.form-horizontal .ui-tabs-nav {
  margin-bottom: 10px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  color: #e00;
}
.radio,
.checkbox,
.checkbox label,
.radio label {
  padding-left: 0;
}
.checkbox input[type=checkbox],
.radio input[type=radio] {
  left: 0;
  top: 0;
  margin: 7px 0 0 0;
}
.input-group-datepicker,
.input-group-datetimepicker {
  width: 185px;
}
.select2-container .select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd;
  border-radius: 0;
}
.select2-container .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e8e8e8;
}
.select2-container .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}
.select2-container .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #aaa;
  outline: 0;
}
.dropdown-with-tools {
  padding-right: 180px;
}
.dropdown-tools {
  position: absolute;
  top: 0;
  right: 0;
}
.collection-tools {
  top: 0;
  right: 0;
}
.break_allocation {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}
.form-static-value.form-control {
  background: none;
  border-color: transparent;
  padding: 0;
  height: 35px;
  font-weight: bold;
  color: #666;
  box-shadow: none;
}
.form-static-value.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}
.form-object-link.form-control {
  color: #337ab7;
  cursor: pointer;
  font-weight: normal;
  width: auto;
}
.form-object-link.form-control:active {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}
.form-object-link.form-control:hover {
  text-decoration: underline;
  color: #046;
}
.panel-heading .btn.command-btn.CREATE,
.float-tools .btn.command-btn.CREATE {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.panel-heading .btn.command-btn.EDIT,
.float-tools .btn.command-btn.EDIT {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}
.panel-heading .btn.command-btn.DELETE,
.float-tools .btn.command-btn.DELETE {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}
.panel-heading .btn.command-btn.SAVE,
.float-tools .btn.command-btn.SAVE {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.panel-heading {
  border-bottom: 1px solid #ddd;
}
.float-tools {
  position: fixed;
  margin-left: -50px;
  bottom: 50%;
  width: 40px;
  z-index: 99;
  background: transparent;
}
.float-tools .btn {
  display: block;
  width: 40px;
  margin-bottom: 5px;
  border-radius: 0;
}
.float-tools .btn.command-btn {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.float-tools .btn.command-btn.CREATE:before {
  content: "\e164";
}
.float-tools .btn.command-btn.EDIT:before {
  content: "\e065";
}
.float-tools .btn.command-btn.DELETE:before {
  content: "\e014";
}
.float-tools .btn.command-btn.SAVE:before {
  content: "\e166";
}
.float-tools .btn.command-btn.CANCEL:before {
  content: "\e014";
}
.form-struct {
  position: relative;
  margin-bottom: 40px;
}
.form-struct .form-struct-border {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 100%;
  height: calc(105%);
  border: 1px solid #aaa;
  border-bottom: 0;
  border-left: 0;
}
.form-struct > legend {
  position: relative;
  display: inline-block;
  width: auto;
  padding-right: 10px;
  border-bottom: 0;
  background: #fff;
}
.form-struct .form-struct-tale {
  position: absolute;
  width: 20%;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #aaa;
}
.form-struct .form-struct-cap {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 20%;
  bottom: -4px;
  background: #aaa;
}
/*** DATA TABLE ***/
.list-tools {
  margin: 0 0 20px 0;
}
.list-tools .btn {
  height: 34px;
}
.form-group .list-tools {
  margin: 0;
}
.list-image.thumbnail {
  float: none;
  margin: 0 auto;
  max-width: 164px;
  max-height: 164px;
}
table.dataTable > thead > tr > th {
  font-size: 90%;
}
table.dataTable tbody tr.odd > .sorting_1 {
  background-color: #F1F1F1;
}
table.dataTable tbody tr.even > .sorting_1 {
  background-color: #F9F9F9;
}
table.dataTable tbody tr.selected {
  background-color: #e0e8f0;
}
table.dataTable tbody tr.selected > .sorting_1 {
  background-color: #d0d8f0 !important;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
}
div.dataTables_length {
  text-align: right;
}
.dataTables_empty {
  display: none;
}
