<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b><%=__('Version')%></b> 1.0.0
    </div>
    <strong><%=__('Copyright &copy; 2015')%> <a href="#"><%=__('ION')%></a></strong>
</footer>