<%
let mod = `/${module}/${portal}`;
%>

<div class="selector-container clearfix" style="display: none">

  <div class="logo-selector selector">
    <div class="selector-title"></div>
    <div class="selector-menu">
      <a href="/" class="selector-menu-item">
        Registry
      </a>
      <a href="<%= module %>/index?p=sakh" class="selector-menu-item" data-id="sakh"
         data-title="Portal ">
        Portal 
      </a>
    </div>
  </div>

</div>

<div class="head-pane-tools clearfix">
</div>