<% layout('../../../../modules/lk/view/default/templates/layout/layout') %>

<div class="padding-20">
  <form id="profile-form" method="post" class="sky-form boxed">
    <header><i class="fa fa-users"></i> User profile <%=name%></header>
    <fieldset>
      <section>
        <label class="label">Pants style</label>
        <label class="input">
          <input type="text" name="trouses" class="input" value="<%=properties.trouses || ''%>"/>
        </label>
      </section>
    </fieldset>
    <fieldset>
      <section>
        <label class="label">Hat style</label>
        <label class="input">
          <input type="text" name="hat" class="input" value="<%=properties.hat || ''%>"/>
        </label>
      </section>
    </fieldset>
    <footer>
      <button type="submit" class="btn btn-primary pull-right">Apply</button>
    </footer>
  </form>
</div>