html, body {
    height: 100%;
    min-width:640px;
    min-height:720px;
  }
  .sakh .logo-selector .selector-title {
    background-image: url('../images/sakh-logo.png');
  }
  
  /* KMS */
  
  .kms .logo-selector .selector-title {
    background-image: url('../images/kms-logo.gif');
  }